.popup__buttons {
  position: relative;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.ambasadors-buttons {
  position: relative;
  left: 60%;
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 15px;
  margin-bottom: 10px;
}
