.header {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  position: relative;
}

.header__logo {
  width: 156px;
  height: 28px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.navigation__item {
  color: black;
}

.header__exit {
  border: none;
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 108px;
  height: 24px;
  background-image: url(../../images/exit.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  color: var(--black);
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.8;
    color: var(--blue);
  }
}
