.table-ambasadors {
}
.table-ambasadors__top {
  background-color: var(--Main-Black-100, #dde0e4);

  height: 44px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table-ambasadors__text {
  margin-left: 5px;
  margin-top: 10px;
}
