@import url(./vendor/fonts.css);

:root {
  font-family: 'YS Text', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000;
  --black-900: #1a1b22;
  --black-500: #797981;
  --black-300: #b5b5b7;
  --black-100: #dde0e4;
  --gray: #f9fafb;
  --white: #ffffff;
  --blue: #5a9bff;
  --blue-main: #1d6bf3;
  --blue-bg: #f1f6ff;
  --blue-light: #acccff;
  --red: #ff0200;
  --green: #87cc9e;
  --green-light: #c2e5ce;
  --purple: #7f67d2;
  --purple-light: #ccc2ed;
  --orange: #ffce92;
  --orange-light: #ffe1bd;
  --rose: #ffdde5;
  --yellow: #fff9d3;
  --pink: #ffbffd;
  --brown: #a99175;
}
#root {
  height: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
